<!DOCTYPE html>
<html>
<head>
  <title>Derramandolacabeza</title>

  <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script-->
  <script>
        //$(document).ready(function(){
          //share_url=derrame;
          //window.alert("sometex");
          //window.alert(share_url);
          //$('.share-buttons').sharebox({url:document.location.href, services:"facebook twitter google+"});
        //});
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>

<div id='container'>

  <div id='header'>
    <img alt="Derramando la Cabeza" src="/derramandolas_white.png" />
  </div>

  <div id='content'>
    <%= yield %>
  </div>

  <div id='column'>


  <p>

  <a href="http://www.defectivebydesign.org/no-drm-in-html5" target='_blank'><img src="//static.fsf.org/dbd/hollywebshare.jpeg" alt="Stop the Hollyweb! No DRM in HTML5." /></a><p>
                Support the Free Software Foundation:<p><a href="http://www.fsf.org/register_form?referrer=12290" target='_blank'><img src="http://static.fsf.org/nosvn/associate/fsf-12290.png" alt="[FSF Associate Member]" style='text-align:center;'/></a><p>

  Usa: <a href="http://sabayon.org" target='_blank'>Sabayon Linux!</a><p>
  <!--column ends-->
  </div>

  <div id='footer'>
    2014 - Derramando la Cabeza
  </div>

<!-- container ends-->
</div>

</body>
</html>
